<div class="bg-primary pt-10 pb-21"></div>
  <div class="container-fluid mt-n22 px-6">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-row">
              <%= link_to stocks_path do %>
                <ion-icon name="arrow-back-outline" class="text-white m-2"></ion-icon>
              <% end %>
              <h3 class="mb-0 text-white">ประวัติการแก้ไข Stock <%= @stock.product.name %> (สาขา <%= @stock.branch.name %>)</h3>
            </div>
          </div>

          <div class="row mt-6">
            <div class="col-md-12 col-12">
              <div class="card">
                <div class="card-header bg-white py-4">
                  <div class="d-flex flex-row-reverse">
                    <div class="row">
                      <input class="form-control" placeholder="ค้นหา..." data-action="keyup->stocks#searchProduct">
                    </div>
                  </div>

                  <div class="pt-3">
                    <ul class="list-group list-group-flush" id="logs">
                      <%= render 'stock_histories/logs', stock_histories: @stock_histories, is_product_name: false %>
                    </ul>
                  </div>

                  <div class="m-3" id="paginate">
                    <%= paginate @stock_histories, params: { controller: 'stocks', action: 'logs' } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>