<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'login100-form validate-form flex-sb flex-w' }) do |f| %>
        <span class="login100-form-title p-b-51">
          เปลี่ยนรหัสผ่าน
        </span>

        <div class="mt-3 wrap-input100 validate-input m-b-16">
          <%= f.password_field :password,
                                required: false,
                                autofocus: true,
                                label: false,
                                class: 'input100',
                                autocomplete: "email",
                                placeholder: 'รหัสผ่าน' %>
          <span class="focus-input100"></span>
        </div>

        <div class="mt-3 wrap-input100 validate-input m-b-16">
          <%= f.password_field :password_confirmation,
                                required: false,
                                autofocus: true,
                                label: false,
                                class: 'input100',
                                autocomplete: "email",
                                placeholder: 'ยืนยันรหัสผ่าน' %>
          <span class="focus-input100"></span>
        </div>

        <br>
        <%= link_to new_session_path(resource_name), class: 'link-to' do %>
          เข้าสู่ระบบ
        <% end %>

        <div class="container-login100-form-btn m-t-17 mt-3">
          <%= button_tag "เปลี่ยนรหัสผ่าน", class: 'login100-form-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>