<div class="container" data-controller="branch-products">
  <div class="card-noline w-100 wrap shadow bg-body rounded mt-3">
    <div class="card-body p-4">
      <h3 class="card-title">แก้ไข Stock <%= @branch_product.product.name %> (สาขา <%= @branch_product.branch.name %>)</h3>
      <hr>
      <%= simple_form_for @branch_product, validate: true do |f| %>
        <%= f.simple_fields_for :stocks do |form| %>
          <div class="row">
            <div class="col-sm-4">
              <%= form.input :status, as: :select, collection: Stock.statuses, prompt: "โปรดเลือก", input_html: { class: "use-search-select", data: { action: 'change->branch-products#onChangeStatus' } } %>
            </div>
            <div id="for-import-or-change" class="d-none col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <%= form.input :branch_id, as: :select, collection: @branches, prompt: "โปรดเลือก", input_html: { class: "use-search-select" } %>
                </div>
                <div class="col-sm-4">
                  <%= form.input :qty, as: :numeric, input_html: { class: "mt-1" } %>
                </div>
              </div>
            </div>
            <div id="for-export" class="d-none col-sm-12">
              <div class="export-file">
                <%= form.input :qty, as: :numeric, input_html: { class: "mt-1", data: { action: "change->branch-products#cloneInput" } } %>
                <div class="show-input-list d-none">
                  <div class="row">
                    <div class="col-sm-4">
                      <%= form.input :date, as: :string, input_html: { class: "use-datepicker mt-1" } %>
                    </div>
                    <div class="col-sm-4">
                      <%= form.input :price, as: :numeric, input_html: { class: "mt-1" } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>